.btn {
  font-weight: 700;
  font-size: 1rem;
  line-height: 30px;
  padding: 0px 15px;
  border: none;
  box-sizing: border-box;
  margin-left: 15px;
  color: #fff;
  background-color: #3cc68a;
  outline: none;
}

.btn:hover {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
