html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Roboto, -apple-system, BlinkMacSystemFont, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	outline: none;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333;
	background-color: #f4f4f4;
	outline: none;
	border: none;
	box-sizing: border-box;
	height: 2rem;
	font-size: 0.875rem;
	padding: 0 1rem;
}

button:disabled {
	color: #999 !important;
	background: #f3f2f1 !important;
	font-weight: 400;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

button[primary="true"] {
	color: #fff;
	background: #4F726C;
}
